/*
 * .src/resources/scss/app.scss
 * This file define styling on views.
 * This script will build to ./src/public/css
 * as configuration on package.json
 */

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
