<div class="main-app mt-4">
  <div>
    <form action="POST">
      <p>Create note</p>
      <div class="mb-3">
        <label for="note-title" class="form-label">Note title</label>
        <input type="text" class="form-control" id="note-title" name="title">
      </div>
      
      <div class="mb-3">
        <label for="note-content" class="form-label">Note content</label>
        <input type="text" class="form-control" id="note-content" aria-describedby="note-content-help" name="content">
      <div id="note-content-help" class="form-text">Helper text here</div>
      </div>
    </form>

  </div>
  <div class="row my-1">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  </div>

  <div class="row my-1">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  </div>
</div>